rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aturan untuk data pengguna
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Aturan untuk toko (Merchant)
    match /shops/{shopId} {
      // Siapapun bisa melihat profil toko
      allow read: if true;
      // Hanya pemilik toko yang bisa membuat atau mengedit tokonya sendiri
      allow write: if request.auth != null && request.auth.uid == shopId;
    }
  }
}